<span class="content"><%= wrap(micropost.content) %></span>
<span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
<% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                data: { confirm: "Are you sure?" },
                title: micropost.content %>
<% end %>